<div class="wrapper">
    <header>
        <div id="title">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
            Arena tactics
        </div>
    </header>

    <menu>
        <div class="menu-item" title="Add a new team composition.">
            <i class="fa fa-plus"></i> Add a team
        </div>
        <div class="menu-item" title="Import or export a file to save your tactics!">
            <i class="fa fa-download"></i> Import/Export
        </div>
    </menu>

    <content>
        <div>Create a team in the menu to get started!</div>
    </content>
</div>