$header-padding            : 10px;
$header-height             : 70px;
$header-font-size          : 28px;
$header-background         : rgb(45, 45, 46);
$header-border             : rgb(145, 145, 146);
$title-hover-background    : rgb(35, 35, 35);
$menu-background           : rgb(72, 72, 73);
$menu-height               : calc(100vh - 71px);
$menu-item-background      : rgb(62, 62, 63);
$menu-item-background-hover: rgb(57, 57, 58);
$menu-item-color           : #888;
$menu-item-padding         : 9px;
$min-content-height        : 100px;
$menu-item-margin-top      : 5px;

.wrapper {
    display    : flex;
    flex-flow  : row wrap;
    font-family: 'Lexend Deca', sans-serif;

    * {
        flex: 1 100%;
    }

    header {
        height       : $header-height;
        line-height  : $header-height;
        font-size    : $header-font-size;
        background   : $header-background;
        border-bottom: 1px solid $header-border;

        #title {
            color  : white;
            cursor : default;
            display: inline-block;
            padding: 0 $header-padding 0 $header-padding;

            &:hover {
                background: $title-hover-background;
                cursor    : pointer;
            }

            i {
                color: orange;
            }
        }
    }

    @media all and (max-width: 800px) {
        menu {
            order     : 1;
            flex      : 1 auto;
        }

        content {
            order     : 2;
        }
    }

    @media all and (min-width: 800px) {
        menu {
            flex                : 1;
            height              : $menu-height;
            overflow            : auto;
            min-height          : $min-content-height;
        }

        content {
            flex              : 4 0px;
            height            : $menu-height;
            overflow          : auto;
            min-height        : $min-content-height;
        }
    }

    menu {
        padding-inline-start: 1px;
        background          : $menu-background;
        margin-block-start  : 0;
        margin-block-end    : 0;

        .menu-item {
            padding   : $menu-item-padding;
            color     : $menu-item-color;
            background: $menu-item-background;
            margin-top: $menu-item-margin-top;
            transition: 0.3s;
            cursor    : pointer;

            &:hover {
                color     : white;
                background: $menu-item-background-hover;
            }

            i {
                width: 20px;
            }
        }
    }

    content {
        margin-block-start: 0;
        margin-block-end  : 0;
        background: white;
    }
}